<div class="page-banner community">

</div>
<div class="content pad-20 has-title">
    <div class="content-title row pr-20">
        <div class="col tab v-m">
            <span class="active">前端圈</span>
        </div>
        <div class="col v-m t-r">
            <a class="btn btn-blue" href="javascript:;">我要加入</a>
        </div>
    </div>
    <div class="ht-100p auto">
        <ul class="time-line">
            <li class="row" ng-repeat="item in data">
                <div class="col">
                    <img class="face circle" src="img/face.png" alt="">
                    <h2 class="title">swimly</h2>
                    <p class="introduce">专注前端开发，喜欢研究各种小技巧。</p>
                    <span class="time">16-05-21</span>
                </div>
                <div class="col t-r url v-m">
                    <a href="javascript:;" class="icon iconfont c-pink">&#xe621;</a>
                    <a href="javascript:;" class="icon iconfont c-lblue">&#xe628;</a>
                    <a href="javascript:;" class="icon iconfont c-green">&#xe623;</a>
                </div>
            </li>
        </ul>
    </div>
</div>